numpy==1.18.5
pandas==1.0.5
plotly==4.9.0
dash==1.16.1
gunicorn==20.0.4
notebook==6.0.3
beautifulsoup4==4.9.2
requests==2.24.0
matplotlib==3.2.2
seaborn==0.10.1
statsmodels==0.11.1
dash-bootstrap-components==0.10.6
nb_black==1.0.7
lxml==4.5.2